<launch>
  <!--
  Main launch
  Open the rviz and show model, scan, the tf tags of the apriltags 
  -->
  
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  
  <!-- Open Lidar -->
  <include file="$(find ydlidar_ros)/launch/lidar.launch" />
  
  <!-- Set Imu -->
  <node pkg="mpu6050_serial_to_imu" type="mpu6050_serial_to_imu_node" name="mpu6050_serial_to_imu_node" required="true">
    <param name="port" value="/dev/ttyUSB1"/>
  </node>
  <node name="imu_joint" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.091 0.0 0.0 0.0 odom imu_base 40" />
  
  <!-- Load Model -->
  <param name="robot_description" textfile="$(find my_car)/urdf/my_first.urdf" />
  <node name="robot_joint" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.091 0.0 0.0 0.0 base_footprint base_link 40" />
  
  <!-- Find the apriltag code -->
  <include file="$(find my_car)/launch/code_detect.launch"/>
   
  <!-- Rotation the carmera tf -->
  <param name="cam_z" type="double" value="0.07"/>
  <node name="usb_cam2laser_frame" pkg="my_car" type="add_tf.py"/>
  
  <!-- Open Rviz -->
  <group if="$(arg open_rviz)"> 
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_car)/rviz/robot.rviz" />
  </group>
</launch>
